# Build
dist
build

# Node modules
node_modules

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Env & config
.env
*.log

# Vite cache
.vite
.cache

# Git stuff
.git
.gitignore

# IDE folders
.vscode
.idea

# Output hoặc static assets
public
coverage
