@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss';

@theme {
  --font-roboto: 'Roboto';
  --color-primary: #d34127;
  --color-background: #f5f5f5;
}

body {
  @apply font-roboto;
}
